:host {
  display: block;
  background-color: #1f1f1f;
  margin: 15px;
  padding: 20px;
  width: 280px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h3 {
  font-size: 1.4em;
  color: #00e5ff;
  margin-bottom: 10px;
}

p {
  color: #cccccc;
  font-size: 1em;
}
